@charset "utf-8";
/* CSS Document */
/* #Reset & Basics
================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
*, *:before, *:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block
}
body {
	line-height: 1
}
ol, ul {
	list-style: none
}
blockquote, q {
	quotes: none
}
blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.clr {
	clear:both;
}
.alignleft {
	float: left;
	margin:0 20px 20px 0px;
}
.alignright {
	float:right;
	margin:0 0 20px 20px;
}
.txtleft {
	text-align:left
}
.txtcenter {
	text-align:center!important;
}
/* #Basic Styles
================================================== */
html,body {margin:0 auto; padding:0; height:100%;  }

/**/
html {
    text-rendering: optimizeLegibility;
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    text-size-adjust: 100%;
}

* {
    -webkit-overflow-scrolling: touch;
}
body {
	font-size: 14px;
	color: #222;
	font-family: Arial;
	-webkit-font-smoothing: antialiased;
	-webkit-text-size-adjust: 100%;
	direction: rtl !important;
	background-color: #fff;
	/*-webkit-overflow-scrolling: touch;*/
}
/* #Typography
================================================== */

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
	font-weight: inherit;
}
em {
	font-style: italic
}
strong {
	font-weight: 700;
}
/*    Blockquotes  */
blockquote, blockquote p {
	font-size: 17px;
	line-height: 24px;
	color: #777;
	font-style: italic;
}
blockquote {
	margin: 0 0 20px;
	padding: 9px 20px 0 19px;
	border-left: 1px solid #ddd;
}
blockquote cite {
	display: block;
	font-size: 12px;
	color: #555;
}
blockquote cite:before {
	content: "\2014 \0020"
}
blockquote cite a, blockquote cite a:visited, blockquote cite a:visited {
	color: #555
}
hr {
	border: solid #ddd;
	border-width: 1px 0 0;
	clear: both;
	margin: 10px 0 30px;
	height: 0;
}
/* #Links
================================================== */

a, a:visited {
	text-decoration: none;
	outline: 0;/*-webkit-transition:all 300ms linear; -moz-transition:all 300ms linear; -o-transition:all 300ms linear; -ms-transition:all 300ms linear; transition:all 300ms linear;*/
}
a:hover, a:focus {
	text-decoration: none;
	outline:none;
}
img:hover { outline:none;}
p a, p a:visited {
	line-height: inherit
}
/* #Lists
================================================== */
ul, ol {
	margin:0
}
ul {
	list-style: none outside
}
ol {
	list-style: decimal
}
ol, ul.square, ul.circle, ul.disc {
	margin-left: 30px
}
ul.square {
	list-style: square outside
}
ul.circle {
	list-style: circle outside
}
ul.disc {
	list-style: disc outside
}
ul ul li, ul ol li, ol ol li, ol ul li {
	margin: 0;
	padding:0;
}
li {
	line-height: 18px;
}
/* #Images
================================================== */
img.scale-with-grid {
	max-width: 100%;
	height: auto;
}

/* #Buttons
================================================== */

/* Fix for odd Mozilla border & padding issues */
button::-moz-focus-inner, ::-moz-focus-inner {
border: 0;
padding: 0;
}

.form-control:focus {   box-shadow: none; }

/*****************************/
/******* Custom Css **********/
/*****************************/


.wrapper .btn.focus, .wrapper .btn:focus { outline: none; box-shadow:none;background-color: #fff; }
.wrapper .btn{ transition: all 0.3s ease-in-out; }

.container { max-width: 1170px; }

.header-div { padding: 0; margin: 0; background-color: transparent; position: fixed; top: 0; z-index: 9999; left: 0; width: 100%; }
.header-div .logo-div { padding: 20px 0px; margin: 0; display: flex; float: right; width: 20%; align-items: center; }
.header-div .inner-top-header-div .logo-div{ padding: 0;min-height: 100px; }

.fixed_top { background-color: #212d65; z-index: 9999;    box-shadow: 0 2px 28px 0 rgba(0, 0, 0, 0.09); }
.fixed_top .inner-top-header-div .logo-div{ padding:  0; }
.fixed_top .top-nav1 { padding: 0; }

/* start navigation  **/

.top-nav1 { display: flex; justify-content: flex-end; align-items: center; padding: 0px 0 0 0; min-height: 100px; }
.inner-top-header-div{ padding: 0;margin: 0; }
.inner-top-header-div.top-nav1 { padding: 0; margin: 0; float: right; }
.cd-shadow-layer { position: fixed; min-height: 100%; width: 100%; top: 0; left: 0; background: rgba(67, 87, 121, 0.6); cursor: pointer; z-index: 99999; display: none; }
.cd-shadow-layer.is-visible { display: block; -webkit-animation: cd-fade-in 0.3s; -moz-animation: cd-fade-in 0.3s; animation: cd-fade-in 0.3s; }
.nav-div{ float: left; }
.display-none{ display: none !important; }
.nav-div .closebtn { display: none; }
.ullist-inline { padding: 0; margin: 0; display: flex; align-items: center; min-height: 45px; }
.ullist-inline li{ padding: 0;margin: 0;display: inline-block;padding:0 20px;text-transform: capitalize;font-size: 14px; }
.ullist-inline li a{ color: #fff;padding: 10px 0px;font-weight: 500;border-bottom:1px solid transparent; position: relative; }

.ullist-inline li a:before {content: "";position: absolute;width: 100%;height: 2px;bottom: 0;left: 0;background: #fff;visibility: hidden;transform: scaleX(0);transition: .25s linear;}
.ullist-inline li:hover a:before {visibility: visible;
    transform: scaleX(1);}
.ullist-inline li:hover a{ color: #fff; }
.ullist-inline li a.active{ color: #51a7a8;border-bottom:1px solid #51a7a8;  }
/*  End of navigation  */


/* banner section */

.banner-section{ padding: 0;margin: 0;position: relative; }
.banner-section .banner-div{ padding: 0;margin: 0; }
.banner-div img.img-fluid.banner-img01 { width: 100%; }
.banner-div .carousel-caption01 { position: absolute;right: 15%;bottom: auto;left: 15%;z-index: 10;top: 50%;padding-top: 0px;padding-bottom: 20px;color: #fff;text-align: center; }
.banner-div .carousel-caption01 { top: 0%;padding: 0 20px;width: 100%;right: 0;left: 0;padding: 0 20px;height: 100%;display: flex; justify-content: center;align-items: center; }
.banner-div .banner-content { padding: 0; margin: 0; width: 100%; }
.banner-div .banner-content h1 { padding: 0;margin: 0 0 30px 0;font-size: 80px;font-weight: 700;text-transform: capitalize;color: #ffffff; }
.banner-div .banner-content p { padding: 0;margin: 0 0 40px 0;font-size: 24px;font-weight: 400;color: #ffffff; }
.banner-div .carousel-indicators li { background-color: #666;height: 5px;vertical-align: bottom; }
.banner-div .carousel-indicators li.active { background-color: #fff;   }
.carousel-control-div { padding: 0;margin:0; }
.carousel-control-div .arrow-icon { font-size: 24px;color: #fff;background: transparent;padding: 0;border-radius: 100%;height: 50px;width: 50px;line-height: 50px;display: none;transition: all 0.4ms ease-in-out; }
.banner-div :hover .carousel-control-div .arrow-icon{ display: block !important;transition: all 0.4s ease-in-out; }
.banner-div .carousel-indicators { right: auto; left: auto; margin-right: 0; margin-left: 0; padding-left: 0; position: absolute; z-index: 99; display: flex; width: 100%;bottom: 50px; }


/* End of banner section */

/* general css */

.btn.btn-custom { padding: 10px 50px; border: 1px solid #ffffff; color: #212d65; background-color: #ffffff; text-align: center; font-size: 16px; border-radius: 8px; font-weight: 600; }
.btn.btn-custom:hover, .btn.btn-custom:focus{ border: 1px solid #212d65; color: #ffffff;background-color: #212d65; }

.btn.btn-custom.btn-blue { padding: 10px 50px; border: 1px solid #212d65; color: #ffffff; background-color: #212d65; text-align: center; font-size: 16px; border-radius: 8px; font-weight: 600; }
.btn.btn-custom.btn-blue:hover, .btn.btn-custom.btn-blue:focus{ border: 1px solid #212d65; color: #212d65;background-color: transparent; }

/*  End of general css */

/* about */

.about_section{ padding: 0;margin: 0;position: relative; }
.about_div{ padding: 85px 0;margin: 0; }
.about_div .img-left{ padding: 0;margin: 0;width: 33.3%;float: left; }
.about_div .img-left img{ padding: 0;margin: 0;width: 100%; }
.about_div .right_txt_div{ padding: 0;margin: 0;width: 66.7%;float: left;  }
.about_div .right_txt_div h2{ padding: 0;margin: 0;font-size: 24px;color: #212d65;line-height: 30px; }
.about_div .right_txt_div p{ padding: 0;margin: 0 0 15px 0;font-size: 15px;color: #8b8d8f;line-height: 22px; }
.about_div .prag_div{ padding: 15px 0;margin: 0;padding-left: 30px; }


.our_project_section{ padding: 0;margin: 0;position: relative; }
.our_project_div{ padding: 85px 0;margin: 0;background-color: #f2f7ff; }

.title_heading h2{ padding: 0;margin: 0 0 60px 0;font-size: 32px;color: #212d65;line-height: 30px;text-align: center; }

.grid_box{ padding: 0;margin: 0;background-color: #ffffff;
	-webkit-box-shadow: 0px 0px 10px 0px rgba(52, 73, 94, 0.07);
    box-shadow: 0px 0px 10px 0px rgba(52, 73, 94, 0.07); 
	-webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.grid_box:hover{ box-shadow: 0 0 30px 0 rgba(33, 45, 101, 0.3);
    /* -webkit-transform: scale(1.01);
	transform: scale(1.01); */
	
}

.grid_box .img-thumb{ padding: 0;margin: 0;width: 100%;max-height: 280px;overflow: hidden; }
.grid_box .img-thumb img{ padding: 0;margin: 0;width: 100%; }
.grid_box .content_txt_div{ padding: 15px 20px;margin: 0;width: 100%;float: left;  }
.grid_box .content_txt_div h3{ padding: 0;margin: 0 0 10px 0;font-size: 24px;color: #212d65;line-height: 30px;white-space: nowrap;width: 100%;overflow: hidden;text-overflow: ellipsis; }
.grid_box .content_txt_div p{ padding: 0;margin: 0 0 10px 0;font-size: 14px;color: #363636;line-height: 22px;min-height: 90px;max-height: 90px;overflow: hidden;text-overflow: ellipsis; }
.grid_box .content_txt_div .link_btn{ padding: 0;margin: 0 0 15px 0;font-size: 16px;color: #212d65;line-height: 22px; }
.grid_box .content_txt_div p strong {display: block;}


.content_txt_div h3 a {color: #212d65;}

.contact_section{ padding: 0;margin: 0;position: relative; }
.contact_div{ padding: 85px 0;margin: 0;background:url(../images/contact_banner.jpg);min-height: 365px;background-size:cover;  }
.contact_div .center_content_div{ padding: 0;margin: 0 auto;text-align: center;width: 70%;display: block; }
.contact_div .center_content_div h2{ padding: 0;margin: 0 0 40px 0;text-align: center;color: #ffffff;font-size: 42px;line-height: 54px;font-weight: 600; }

.contact_today_section{ padding: 0;margin: 0;position: relative; }
.contact_today_div{ padding: 85px 0;margin: 0;background-color: #f2f7ff; }

.form_center_div{ padding: 0;margin: 0; }

.grid_6{ width: 49%;float: right;margin: 0 0 0 1%; }
.grid_6:nth-child(even){ width: 49%;float: right;margin: 0 1% 0 0; }
.grid_12{ width: 100%;float: right; }

.grid_group{ margin-bottom:0;min-height: 75px; }


.inp_custom { position: relative; margin: auto; width: 100%; max-width:100%; }
.inp_custom .label { position: absolute; top: 16px; right: 0px; font-size: 16px; color: #666666; font-weight: 400; transform-origin: 0 0; transition: all 0.2s ease;padding: 0 0px;  }
.inp_custom .border { position: absolute; bottom: 0; right: 0; height: 1px; width: 100%; background: #212d65 !important; transform: scaleX(0); transform-origin: 0 0; transition: all 0.15s ease; }
.inp_custom input { -webkit-appearance: none; width: 100%; border: 0; padding: 12px 12px; height: 48px; font-size: 16px; font-weight: 500; border-bottom: 1px solid #000000; background: none; border-radius: 0; color: #223254; transition: all 0.15s ease; }
.inp_custom input:not(:placeholder-shown) + span { color: #212d65; transform: translateY(-26px) scale(0.75); }
.inp_custom input:focus { background: none; outline: none; }
.inp_custom input:focus + span { color: #212d65; transform: translateY(-26px) scale(0.75);right: 0px !important;padding: 0 0 !important;  }
.inp_custom input:focus + span + .border { transform: scaleX(1);background-color: #000000; }
  
.inp_custom textarea { -webkit-appearance: none; width: 100%; border: 0; padding: 12px 12px; height: 100px; font-size: 16px; font-weight: 500; border-bottom: 1px solid #000000; background: none; border-radius: 0; color: #223254; transition: all 0.15s ease;resize: none; }
.inp_custom textarea:not(:placeholder-shown) + span { color: #212d65; transform: translateY(-26px) scale(0.75); }
.inp_custom textarea:focus { background: none; outline: none; }
.inp_custom textarea:focus + span { color: #212d65; transform: translateY(-26px) scale(0.75);right: 0px !important;padding: 0 0 !important;  }
.inp_custom textarea:focus + span + .border { border: 0px solid #000000!important;height: 0px !important; }
.inp_custom .border { border: 0px solid #000000!important; }

.btn_div { margin: 40px auto 0 auto; padding: 0; display: flex; float: right; width: 100%; justify-content: center; }

.span_block{ display: block; }

.footer-div { padding: 65px 0; margin: 0; }
.footer-div .logo_footer{ padding: 0;margin: 0; }
.footer-col{ padding: 0;margin: 0; }
.footer-div .footer-col h4{ padding: 0px 0;margin: 0 0 60px 0;font-size: 18px;font-weight: 600;color: #212d65; }
.footer-div .footer_details_div{ padding: 0;margin: 0; }
.footer-div .footer_details_div .footer_ul{ padding: 0;margin: 0; }
.footer-div .footer_details_div .footer_ul li{ padding: 0;margin: 0 0 15px 0; }
.footer-div .footer_details_div .footer_ul li a{ padding: 0;margin: 0 0 0px 0;color: #aaaaaa;font-size: 16px;  }
.footer-div .footer_details_div .footer_ul li a:hover{ color: #212d65; }

.footer_logo_div { display: flex;margin: 0 0 5px 0; }

.footer-div .footer_desc p{ color: #aaaaaa;font-size: 16px; }
.footer-div .footer_desc p .span_block{ padding: 10px 0; }

.footer-div .footer_details_div p{ padding: 0;margin: 0;font-size: 14px;line-height: 22px; }
.footer-div .form_root_div .form-control{ font-size: 14px;padding: 0 10px 10px 10px; }
.footer-div .form_root_div .btn.btn-color.btn-send{ text-transform: uppercase; }

.footer-div .social_row{ padding: 0;margin: 0 0 20px 0; display: flex; }
.footer-div .social_row .social_ul{ padding: 0;margin: 0;display: block;width: 100%; }
.footer-div .social_row .social_ul li{ padding: 0;margin: 0;float: right; }
.footer-div .social_row .social_ul li a.soacial_link { height: 35px; width: 35px; display: flex; align-items: center; justify-content: center; background: #212d65; color: #fff; border-radius: 100%; font-size: 18px; margin: 0 0px 0 10px;border: 1px solid #212d65;transition: all 0.3s ease-in-out; }
.footer-div .social_row .social_ul li a.soacial_link:hover { background: #ffffff; color: #212d65;border: 1px solid #212d65; }

.footer-bottom-div { padding: 0px 0; margin: 0; display: flex; width: 100%; border-top: 1px solid #aaaaaa; }
.footer-bottom-div p{ padding: 20px 0;margin: 0;width: 100%;text-align: center;color: #aaaaaa;font-size: 16px;display: block; }
.footer_logo_div .logo_footerimg{ width: 120px; }


/******* Inner Page CSS *********/


.inner-pages .header-div {background-color: #212d65; position: fixed; top: 0;}
.middle-inner-page {margin-top: 100px;}
.grid_box{ margin:0 0 30px 0; }


.inner-page-banner {
	background-image: url(../images/banner-inner.jpg);
    background-repeat: no-repeat;
	position: relative;
    background-size: cover;
    background-position: center;
}

.inner-page-banner::before {
	content: "";
	position: absolute;
	height: 100%;
	width: 100%;
	background-color: #212d65;
	opacity: .7;
}

.banner-title{
	display: flex;
	justify-content: center;
	 text-align: center;
	 flex-direction: column;
	padding: 150px 0 110px 0;
}

.banner-title h1 {font-size: 60px; color: #fff;} 

.breadcrumb {
	font-size: 16px;
    font-weight: 500;
	line-height: 1;
	text-align: center;
	justify-content: center;
    background: transparent;
    color: #ffffff;
}
.breadcrumb>li {
	display: inline-block;
	
}
.breadcrumb>li a {
color: #fff;
padding: 0 8px;
	
}

.breadcrumb>li+li:before {
    padding: 0 5px;
    color: #ccc;
    content: "/\00a0";}

.breadcrumb .active {
    color: #fff;
}


.project-details {
	padding: 60px 0;
	background-color: #f2f7ff;
}

.bg-white {background-color: #fff;
	padding: 16px 8px !important;
}

.img-gallary {margin-bottom: 15px; position: relative;}
.img-gallary {overflow: hidden;}
.img-gallary a img {height: auto; width: 100%;  transition: all .3s; overflow: hidden;}
.img-gallary a img.large {height: auto; width: 100%;}
.img-gallary a:hover img {
	-webkit-transform: scale(1.08);
    transform: scale(1.08);}
.img-gallary a:before {
	content: "";
	height: 100%;
	width: 100%;
	position: absolute;
	cursor: pointer;
	z-index: 999;

}
.pad {padding-left: 8px !important; padding-right: 8px !important;}
.img-gallary a:hover:before {
	background-color: #212d65;
	opacity: .8;
	content: url("../images/icon/search.png");
	position: absolute;
	height: 100%;
	width: 100%;
	cursor: pointer;
	text-align: center;
	justify-content: center;
	align-content: center;
	align-items: center;
	display: flex;
}

.description-product h3 {
	padding: 0;
    margin: 0 0 15px 0;
    font-size: 24px;
    color: #212d65;
    line-height: 30px;
}



.description-product p {
	padding: 0;
    margin: 0 0 10px 0;
    font-size: 16px;
    color: #343434;
    line-height: 18px;
}

.description-product h4 {
	padding: 10px 0 0 0;
    margin: 0 0 10px 0;
    font-size: 18px;
    color: #212d65;
    line-height: 20px;
}

.download-pdf {display: inline-block; margin: 0; padding: 0;}
.download-pdf li {display: block; padding: 5px;}
.download-pdf li a {color: #212d65; font-weight: 500;}
.download-pdf li:before {
	content: url("../images/icon/pdf.png");
	position: relative;
	height: 100%;
	width: 100%;
	top: 7px;
}

@media (min-width: 1200px) {
	
}

@media only screen and (max-width: 767px){



.banner-title {padding: 80px 0 50px 0;}	
.banner-title h1 {font-size: 40px;}

.middle-container { width: 100%; overflow: hidden; }
.middle-inner-page {margin-top: 75px;}
.header-div .login-page-div .logo-div { padding: 30px 0px 10px 0; margin: 0; text-align: center;width: 100%; }
.header-div .login-div { width: 100%; }
.header-div .login-div .login-box .m-login-col{ width: 100%;margin: 0 0 10px 0;padding: 0; }
.header-div .login-page-div { min-height: 415px; }

.header-div { padding: 0; margin: 0; background-color: #212d65; position: relative; top: 0; z-index: 9999; left: 0; width: 100%; }
.fixed_top {position: fixed;}	

/* mobile navigation start */

.nav-div .closebtn { display:block;}
.nav-m-bar { position: absolute; top: 26px; left: 20px; z-index: 9999; }
.nav-m-bar .menu-bars{ background:url(../images/icon/menubar.png) no-repeat; width:21px; height:23px; display:inline-block; vertical-align:middle;}

.nav-div { height: 100%;  width: 0;  position: fixed; z-index: 9999999; top: 0; right: 0; background-color: #fff;  overflow-x: hidden;  padding-top: 60px; transition: 0.2s;  }
.nav-div .closebtn { position: absolute; color: #fff; background: #212d65; top: 0; min-width: 45px; text-align: center; height: 45px; display: flex; justify-content: center; align-items: center; right: 0; font-size: 28px; padding-left: 0; font-weight: 300; line-height: 35px; border-radius: 0 0 0 10px; }
.nav-div .closebtn:hover { color: #fff; }
.nav-div ul li { width: 100%; margin: 0px 0 5px 0; padding: 15px 20px;font-size: 18px; }
.ullist-inline { height: auto; }
.body-listing { min-height: 100%; }
.width80{ width: 85%; }
.opacityon{ opacity: 1; }
.displayblock{ display: block; }
.top-nav1 { padding: 0px 0 0 0;    min-height: 75px; }
.ullist-inline li a {  color: #000000; }
.ullist-inline li:hover a {color: #212d65;}
.banner-div .carousel-indicators li { height: 2px; }

.banner-div .carousel-indicators { bottom: 10px; }
.btn.btn-custom { padding: 5px 20px; font-size: 14px; }
.btn.btn-custom.btn-blue { padding: 5px 20px; font-size: 14px; }

/* End of navigation */

.header-div .logo-div { width: 30%;padding: 10px 0px 10px 0; min-height: 75px !important;}
.banner-div .carousel-caption01 { left: 10%; padding: 30px 24px; height: 100%; display: block; justify-content: center; align-items: center; width: 100%; text-align: center; }
.banner-div .carousel-item { min-height: 100px; background-color: #fcfcfc; }
.banner-div .carousel-control-div .arrow-icon { font-size: 16px; height: 30px; width: 30px; line-height: 30px;display: block; }

.banner-div .banner-content p { margin: 0 0 10px 0; font-size: 13px; font-weight: 700; }
.banner-div .banner-content h1 { margin: 0 0 10px 0; font-size: 18px; }
.btn.btn-round{ padding: 8px 25px;font-size: 14px; }

.banner-div .banner-content { padding: 0; margin: 0; width: 100%; }
.banner-div .btn.btn-round { padding: 6px 15px; font-size: 12px; }

.about_div .img-left { width: 100%; }
.about_div .right_txt_div { padding: 30px 0 0 0; width: 100%; }

.about_div, .our_project_div{ padding: 30px 0; }
.contact_today_div {padding: 50px 0;}



.grid_box{ margin:0 0 15px 0; }
.contact_div { min-height: 300px; }
.contact_div .center_content_div h2 { margin: 0 0 30px 0; font-size: 28px; line-height: 36px; }
.contact_div .center_content_div { width: 100%; }
.grid_6 , .grid_6:nth-child(even){ width: 100%; margin: 0 0 0 0%; }

.footer_desc.clearfix { margin: 0 0 50px 0; }
.footer-div .footer-col h4 { margin: 0 0 20px 0; }
.footer-col { margin: 0 0 50px 0; }
.footer-div { padding: 65px 0 20px 0; }
.footer_logo_div { margin: 0 0 10px 0; }



/******* Inner Page CSS *********/


}

.contac-link a {color:#aaaaaa;}
.contac-link a:hover {color:#212d65;}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
	.ullist-inline li:hover a{ color: #212d65; }

.middle-container { width: 100%; overflow: hidden; }
.middle-inner-page {
	margin-top: 75px;
}
.header-div .login-page-div .logo-div { padding: 30px 0px 10px 0; margin: 0; text-align: center;width: 100%; }
.header-div .login-div { width: 100%; }
.header-div .login-div .login-box .m-login-col{ width: 100%;margin: 0 0 10px 0;padding: 0; }
.header-div .login-page-div { min-height: 415px; }

.header-div { padding: 0; margin: 0; background-color: #212d65; position: relative; top: 0; z-index: 9999; left: 0; width: 100%; }
.fixed_top {position: fixed;}

/* mobile navigation start */

.nav-div .closebtn { display:block;}
.nav-m-bar { position: absolute; top: 26px; left: 20px; z-index: 9999; }
.nav-m-bar .menu-bars{ background:url(../images/icon/menubar.png) no-repeat; width:21px; height:23px; display:inline-block; vertical-align:middle;}

.nav-div { height: 100%;  width: 0;  position: fixed; z-index: 9999999; top: 0; right: 0; background-color: #fff;  overflow-x: hidden;  padding-top: 60px; transition: 0.2s;  }
.nav-div .closebtn { position: absolute; color: #fff; background: #212d65; top: 0; min-width: 45px; text-align: center; height: 45px; display: flex; justify-content: center; align-items: center; right: 0; font-size: 28px; padding-left: 0; font-weight: 300; line-height: 35px; border-radius: 0 0 0 10px; }
.nav-div .closebtn:hover { color: #fff; }
.nav-div ul li { width: 100%; margin: 0px 0 5px 0; padding: 15px 20px;font-size: 18px; }
.ullist-inline { height: auto; }
.body-listing { min-height: 100%; }
.width80{ width: 50%; }
.opacityon{ opacity: 1; }
.displayblock{ display: block; }
.top-nav1 { padding: 0px 0 0 0;    min-height: 75px; }
.ullist-inline li a {  color: #000000; }

.banner-div .carousel-indicators li { height: 2px; }

/* End of navigation */

.header-div .logo-div { width: 30%;padding: 10px 0px 10px 0; min-height: 75px !important;}
.banner-div .carousel-item { min-height: 100px; background-color: #fcfcfc; }
.banner-div .carousel-control-div .arrow-icon { font-size: 16px; height: 30px; width: 30px; line-height: 30px;display: block; }

.banner-div .banner-content p { margin: 0 0 20px 0; font-size: 18px;line-height: 24px; font-weight: 700; }
.banner-div .banner-content h1 { margin: 0 0 10px 0; font-size: 42px; }
.btn.btn-round{ padding: 8px 25px;font-size: 14px; }
.banner-div .banner-content { padding: 0; margin: 0 auto; width: 75%; }
.banner-div .btn.btn-round { padding: 6px 15px; font-size: 12px; }

.about_div .img-left { width: 40%; }
.about_div .right_txt_div { padding: 0px 0 0 0; width: 60%; }
.about_div, .our_project_div{ padding: 60px 0; }

.grid_box{ margin:0 0 15px 0; }
.contact_div { min-height: 300px; }
.contact_div .center_content_div h2 { margin: 0 0 30px 0; font-size: 28px; line-height: 36px; }
.contact_div .center_content_div { width: 100%; }
.grid_6 , .grid_6:nth-child(even){ width: 100%; margin: 0 0 0 0%; }

.footer_desc.clearfix { margin: 0 0 50px 0; }
.footer-div .footer-col h4 { margin: 0 0 20px 0; }
.footer-col { margin: 0 0 50px 0; }
.footer-div { padding: 65px 0 20px 0; }

.footer_logo_div .logo_footerimg{ width: 100px; }
.footer-div .footer_details_div .footer_ul li a { font-size: 14px;line-height: 18px; }
.footer-div .footer_desc p { font-size: 14px; line-height: 18px; }


}	


@media only screen and (min-width: 1025px) and (max-width:1290px) {

	
}


@media only screen and (min-width: 1024px) and (max-width: 1366px)
{

	

}

